<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Details</title>
</head>
<body>
  <div style="background-color: aqua; height: 2000px; width: 1469px; position: relative; background-image: linear-gradient(to left, white, burlywood);">
    <div style="height: 1830px; width: 1370px; margin-left: 50px; top: 50px; position: absolute;">
      <div style="height: 720px; width: 40%; top: 0; right: 0; position: absolute;">
        <div style="height: 290px; width: 290px; margin-left: 90px; position: absolute; top: 190px; border-bottom-right-radius: 199rem; box-shadow: 2px 122px 15px rgba(0, 0, 0, 0.3);">
          <img style="height: 240px; width: 240px; position: absolute; top: 20px; left: 10px;" src="front_default_image_url" alt="Pokemon Sprite" />
        </div>
      </div>
      <div style="height: 720px; width: 60%; top: 0; left: 0; position: absolute; display: flex; flex-direction: column;">
        <div style="height: 33.3%; width: 100%;">
          <div style="font-family: fantasy; font-size: 4.5rem; font-stretch: 3px; margin-left: 290px; margin-top: 50px; font-style: italic;">POKEMON_NAME</div>
        </div>
        <div style="height: 33.3%; width: 100%;">
          <div style="height: 10%; width: 50%; position: absolute; right: 0;">
            <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
              Height: 
              <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">POKEMON_HEIGHT ft</span>
            </div>
          </div>
          <div style="height: 10%; width: 50%; position: absolute; left: 0;">
            <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
              Weight: 
              <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">POKEMON_WEIGHT kg</span>
            </div>
          </div>
          <div style="height: 210px; width: 100%; position: absolute; bottom: 200px;">
            <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
              Types: 
              <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">TYPE_1, TYPE_2</span>
            </div>
            <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
              Abilities: 
              <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">ABILITY_1, ABILITY_2</span>
            </div>
            <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
              Moves: 
              <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">MOVE_1, MOVE_2</span>
            </div>
          </div>
        </div>
        <div style="height: 33.3%; width: 100%;">
          <div id="sect-ein" style="height: 33.3%; width: 100%; padding: 20px;">
  <div style="font-family: fantasy; font-size: 1.5rem; font-style: italic; margin-bottom: 10px;">
    Description:
  </div>
  <div style="font-family: cursive; font-size: 1.5rem;">
    <p style="font-size: 0.9rem; margin: 5px 0;">
      Example flavor text 1.
    </p>
    <p style="font-size: 0.9rem; margin: 5px 0;">
      Example flavor text 2.
    </p>
  </div>
</div>

<div id="sect-zein" style="height: 33.3%; width: 100%;  position: relative;">
  <div style="height: 10%; width: 100%; position: absolute; left: 0;">
    <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
      Scientific Name:
      <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
        Genus Name 1, Genus Name 2
      </span>
    </div>
  </div>
  <div style="height: 10%; width: 100%; position: absolute; left: 0; top: 50px;">
    <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
      Common Sight:
      <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
        Area 1, Area 2
      </span>
    </div>
  </div>
  <div style="height: 10%; width: 100%; position: absolute; left: 0; top: 100px;">
    <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
      Pre-Evolution:
      <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
        Pre-Evolution Name
      </span>
    </div>
  </div>
  <div style="height: 10%; width: 100%; position: absolute; left: 0; top: 150px;">
    <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
      Egg Group:
      <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
        Egg Group 1, Egg Group 2
      </span>
    </div>
  </div>
  <div style="height: 10%; width: 100%; position: absolute; left: 0; top: 200px;">
    <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
      Variations:
      <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
        Variation 1, Variation 2
      </span>
    </div>
    <div style="height: 10%; width: 100%; position: absolute; left: 0; top: 50px;">
      <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
        Capture Rate:
        <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
          45
        </span>
      </div>
      <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
        Habitat:
        <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
          Forest
        </span>
      </div>
      <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
        Shape:
        <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
          Quadruped
        </span>
      </div>
      <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
        Growth Rate:
        <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
          Medium Slow
        </span>
      </div>
      <div style="font-family: fantasy; font-size: 1.5rem; font-stretch: 3px; font-style: italic; margin-left: 20px; margin-top: 20px;">
        Generation:
        <span style="font-family: serif; font-size: 1.5rem; padding: 90px;">
          Generation 1
        </span>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
